# Supabase Configuration
VITE_SUPABASE_URL=https://vsfdjnbxyyvsyrqleqar.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZzZmRqbmJ4eXl2c3lycWxlcWFyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM0MDM3MTEsImV4cCI6MjA4ODk3OTcxMX0.KMl39Lc40tghFfZGWN23LW0ePZlxg23POrAKtYXu2Dc
